*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-shadow: #000 1px 1px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: 60%;
  background-position: center;
  background-image: url(assets/Designer_fundo_9.jpg);
}